div .col-sm-4 {
  background-color: aqua;
  margin-bottom: 25px;
  border-radius: 1rem;
  border-style: ridge;
} 

div .col-sm-4 h3 {
  background-color: lightblue;
  margin: auto;
  border-radius: 1rem;
  border-style: ridge;
  text-align: center;
} 

